.inactive{
    display: none;
}

main{

    position: relative;
}

.flex-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav{

    border-bottom: 1px solid var(--very-light-pink);
    height: 64px;
    width: 100%;
    z-index: 2;
}

nav .icon-menu{

    margin: 0 16px;
    cursor: pointer;
}


.logo{

    height: 28px;

}
.logo img{
    height: 100%;
    margin: 0 16px 0 16px ;
}

.categories{
    display: none;
    height: 70%;
}

.categories-container{

    margin: 8px;
    height: 80%;

}
.categories p{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.categories p a{


    text-decoration: none;
    color: gray ;


}

.options{


    font-size: var(--sm);
    color: #414040;
    justify-self: center;
    height: 100%;

    display: flex;
    align-items: center;

}

.options p{
    display: none;

    cursor: pointer;
}
.options p span:nth-child(2){
    margin-left: 4px;
    color: gray;
    font-weight: bold;


}


.options img{
    height: 28px;
    cursor: pointer;
    margin: 0 18px;

}


/* menu ordenes y cuenta  */

.options-menu{
    position: absolute;
    top: 50px;
    right: 64px;
    width: 140px;
    height: auto;
    border: 2px solid var(--vety-light-gray);
    border-radius: 8px;


    background-color: var(--white);


}

.options-menu ul{
    list-style: none;
    height: 100%;

}

.options-menu ul li{
    text-align: end;

    height: 40px;
    margin-top: 12px;
    margin-bottom: 12px;


}

.options-menu ul li a{

    text-decoration: none;
    color: var(--black);
    font-weight: bold;
    padding-right: 16px;



}


.options-menu ul li button{
    border: none;

    background-color: transparent;
    padding-right: 16px;

    color: var(--hostpital-green);
    text-align: end;
    width: 100%;
    height: 60px;
    font-size: var(--sm);

    border-top: 1px solid var(--very-light-pink);

    cursor: pointer;
}


/* menu mobile */

.menu-mobile{
    position: absolute;

    width: 280px;
    padding-top: 24px;

    border-right: 1px solid var(--vety-light-gray);
    background-color: white;
}

.menu-mobile a{
    text-decoration: none;
    color: var(--black);
    font-weight: bold;


}

.menu-mobile h2{
    margin-bottom: 40px;
    padding-left: 40px;
}

.menu-mobile ul{
    padding: 0;
    text-decoration: none;
    list-style: none;
    margin-bottom: 48px;


}


.menu-mobile ul li {
    height: 60px;
    padding-left: 40px;
    display: flex;
    align-items: center;
}


#info-account li {
    color:  var(--very-light-pink);
    margin-bottom: 12px;
    font-size: var(--sm);
}
#info-account li a{
    color:  var(--hostpital-green);
    font-size: var(--sm);
}


/* mi orden menu despegable */


.shoping-car-products {
    width: 360px;

    box-sizing: border-box;
    position: absolute;
    right: 0;

    background-color: var(--white);

    border-radius: 8px;
    border: 1px solid var(--vety-light-gray);
}
.title-container {
    display: flex;
    margin: 24px;
    cursor: pointer;
}


.title-container img {
    transform: rotate(180deg);
    margin-right: 14px;
}
.title {
    font-size: var(--lg);
    font-weight: bold;
}
.my-order-content{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
}

.shopping-cart {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 16px;
    padding: 12px 24px;

    align-items: center;

}
.shopping-cart figure {
    margin: 0;
}
.shopping-cart figure img {
    width: 70px;
    height: 70px;
    border-radius: 20px;
    object-fit: cover;
}
.shopping-cart p:nth-child(2) {
    color: var(--very-light-pink);
}
.shopping-cart p:nth-child(3) {
    font-size: var(--md);
    font-weight: bold;
}

.order {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;
    align-items: center;

    border-radius: 8px;
    padding: 0 48px;
    margin-top: 12px;
}
.order p:nth-child(1) {
    display: flex;
    flex-direction: column;
}
.order p span:nth-child(1) {
    font-size: var(--md);
    font-weight: bold;
}
.order p:nth-child(2) {
    text-align: end;
    font-weight: bold;
}

.my-order-content .primary-button {
    background-color: var(--hostpital-green);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 80%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;

    margin: 24px auto;


}
.primary-button:active{
    background-color: #98d9a1;
}


/* productos */

.container-products{
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 24px;
    place-content: center;
    padding-top: 24px;
}

.card-product{
    width: 240px;
    padding: 12px;
    border-radius: 24px;

}

.card-product:hover{
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    width: 260px;
}


.card-product img {
    width: 100%;
    border-radius: 24px;
    object-fit: cover;
}

.product-info--card-product{
    display: flex;
    justify-content: space-between;
    align-items:center ;
    margin-top: 8px;
    height: 50px;
}

.product-info--card-product figure {
    margin: 0;
    height: 100%;


}


.product-info--card-product figure img{
    width: 100%;
    height: 100%;


}
.product-info--card-product div p{
    margin: 0;
}

.product-info--card-product div p:nth-child(1){
    font-size: var(--md);
    font-weight: bold;



}

.product-info--card-product div p:nth-child(2){
    font-size: var(--sm);
    margin-bottom: 0;
    margin-top: 0;
    color: var(--very-light-pink);

}



/*  detalles de producto seleccionado */
.product-detail-container{
    width: 384px;

    position: fixed;
    right: calc(50% - 192px);
    top: calc(50% - 330px);
    padding: 12px;
    background-color: var(--white);

    border: 1px solid var(--vety-light-gray);
}


.product-detail-close {
    background: var(--white);
    width: 14px;
    height: 14px;
    position: absolute;
    top: 24px;
    left: 24px;
    z-index: 2;
    padding: 12px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.product-detail-close img {
    width: 12px;
    height: 12px;
}


.product-detail-close:hover {
    cursor: pointer;
}
.product-detail > img:nth-child(2) {
    width: 100%;
    height: 360px;
    object-fit: cover;
    border-radius: 0 0 20px 20px;
}
.product-info {
    margin: 24px 24px 0 24px;
}
.product-info p:nth-child(1) {
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 4px;
}
.product-info p:nth-child(2) {
    color: var(--very-light-pink);
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 36px;
}
.product-info p:nth-child(3) {
    color: var(--very-light-pink);
    font-size: var(--sm);
    margin-top: 0;
    margin-bottom: 36px;
}
.product-info .primary-button {
    background-color: var(--hostpital-green);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
}
.add-to-cart-button {
    display: flex;
    align-items: center;
    justify-content: center;
}


.dark-screen {
    position: fixed;

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

.menu-despegable{
    z-index: 2;
}
@media (max-width: 640px) {

    .shoping-car-products {
        width: 100%;
    }

    .container-products{

        grid-template-columns: repeat(auto-fill, 140px);

    }

    .card-product{
        width: 140px;

    }

    .card-product:hover{
        box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
        width: 160px;
    }


    .product-detail-container{
        width: 100%;
        right: 0;

    }

}




@media (min-width: 1021px) {
    nav{
        min-width: 960px;
    }

    .icon-menu{
        display: none;
    }

    .categories{
        display: grid;
        grid-template-columns: repeat(6, 100px);
    }

    .options{

        min-width: 240px;

    }
    .options p{
        display: inline;
    }
}
