.inactive{
    display: none;
}



.flex-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav{

    border-bottom: 1px solid var(--very-light-pink);
    height: 64px;
    width: 100%;

}

nav .icon-menu{

    margin: 0 16px;
    cursor: pointer;
}


.logo{

    height: 28px;

}
.logo img{
    height: 100%;
    margin: 0 16px 0 16px ;
}

.categories{
    display: none;
    height: 70%;
}

.categories-container{

    margin: 8px;
    height: 80%;

}
.categories p{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.categories p a{


    text-decoration: none;
    color: gray ;


}

.options{


    font-size: var(--sm);
    color: #414040;
    justify-self: center;
    height: 100%;

    display: flex;
    align-items: center;

}

.options p{
    display: none;
}
.options p span:nth-child(2){
    margin-left: 4px;
    color: gray;
    font-weight: bold;

}


.options img{
    height: 28px;
    cursor: pointer;
    margin: 0 18px;

}


/* menu ordenes y cuenta  */

.options-menu{
    position: absolute;
    top: 50px;
    right: 64px;
    width: 140px;
    height: auto;
    border: 2px solid var(--vety-light-gray);
    border-radius: 8px;


    background-color: var(--white);


}

.options-menu ul{
    list-style: none;
    height: 100%;

}

.options-menu ul li{
    text-align: end;

    height: 40px;
    margin-top: 12px;
    margin-bottom: 12px;


}

.options-menu ul li a{

    text-decoration: none;
    color: var(--black);
    font-weight: bold;
    padding-right: 16px;



}


.options-menu ul li button{
    border: none;

    background-color: transparent;
    padding-right: 16px;

    color: var(--hostpital-green);
    text-align: end;
    width: 100%;
    height: 60px;
    font-size: var(--sm);

    border-top: 1px solid var(--very-light-pink);


}


/* menu mobile */

.menu-mobile{
    position: absolute;
    top: 64px;
    width: 280px;
    padding-top: 24px;

    border-right: 1px solid var(--vety-light-gray);
}

.menu-mobile a{
    text-decoration: none;
    color: var(--black);
    font-weight: bold;


}

.menu-mobile h2{
    margin-bottom: 40px;
    padding-left: 40px;
}

.menu-mobile ul{
    padding: 0;
    text-decoration: none;
    list-style: none;
    margin-bottom: 48px;


}


.menu-mobile ul li {
    height: 60px;
    padding-left: 40px;
    display: flex;
    align-items: center;
}


#info-account li {
    color:  var(--very-light-pink);
    margin-bottom: 12px;
    font-size: var(--sm);
}
#info-account li a{
    color:  var(--hostpital-green);
    font-size: var(--sm);
}


@media (min-width: 1021px) {
    nav{
        min-width: 960px;
    }

    .icon-menu{
        display: none;
    }

    .categories{
        display: grid;
        grid-template-columns: repeat(6, 100px);
    }

    .options{

        min-width: 240px;

    }
    .options p{
        display: inline;
    }
}
