:root {
    --white: #ffffff;
    --black: #000000;
    --very-light-pink: #777777;
    --text-input-field: #f7f7f7;
    --hostpital-green: #acd9b2;
    --very-light-green: #e1fce7;
    --vety-light-gray: #e5e5e5;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body{

    font-family: 'Quicksand', sans-serif;

    width: 100%;
}

.hover:hover{
    background-color: #eefcf1;
}

.active:active{
    background-color: var(--very-light-green);
}